:root {
  --sidebar-width-open: 250px;
  --sidebar-width-closed: 70px;
  --transition-speed: 0.3s;
}

.mainContent {
  margin-left: var(--sidebar-width-open);
  padding: 20px;
  transition: margin-left var(--transition-speed) ease-in-out;
}

.mainContent.sidebarClosed {
  margin-left: var(--sidebar-width-closed);
}

.noteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.editInput {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  flex: 1;
}

.buttonContainer {
  width: 120px;
}
